<ion-header>
  <ion-navbar color="header-color" *ngIf="!currentTrack">
    <ion-title class="title">FASH</ion-title> 
    </ion-navbar>

<ion-navbar color="header-color" *ngIf="currentTrack">
  <ion-title class="title1">{{currentTrack?.musicname}}
    <p *ngIf="currentTrack.artist">{{currentTrack?.artist}}</p>
  </ion-title>
  <ion-buttons end>
    <button ion-button color="light" clear (click)="prevTrack()">
    <img width="18px" src="assets/images/fast-forward.png">
    </button>
    <button *ngIf="bit == false" ion-button color="light" clear (click)="playTrack(currentTrack)">
    <img width="18px" src="assets/images/play.png">
    </button>
    <button *ngIf="bit == true" ion-button color="light" clear (click)="pausetyTrack(currentTrack)">
    <img width="12px" src="assets/images/pause.png">
    </button>

    <button ion-button color="light" clear (click)="nextTrack()">
    <img width="18px" src="assets/images/fast-forwardr.png">
    </button>
  </ion-buttons>
</ion-navbar>
  </ion-header>

<ion-content padding style="background:#ffc3b2;">
 <form #changepwdForm="ngForm"novalidate>
<div class="form_outer">
    <div class="logo" style="padding-top:40px;"><div class="logoin"><img width="96px" src="assets/images/logo.png"></div></div>


<ion-list class="input_outer">
  <ion-item>
    <ion-input type="password" placeholder="Enter your old password" [(ngModel)]="data.password"  name='password' required #password="ngModel"></ion-input>
  </ion-item>
 <ion-label class="alert alert-danger" color="danger">
 <div *ngIf="password.errors && (password.dirty || password.touched)">
       <div [hidden]="!password.errors.required" >
         Password is required
        </div>
    </div>
   </ion-label>
  <ion-item>
    <ion-input type="password" placeholder="Enter your new password" [(ngModel)]="data.newpassword" name='newpassword' required #newpassword="ngModel" ></ion-input>
  </ion-item>
   <ion-label class="alert alert-danger" color="danger">
 <div *ngIf="newpassword.errors && (newpassword.dirty || newpassword.touched)">
       <div [hidden]="!newpassword.errors.required" >
         Password is required
        </div>
    </div>
   </ion-label>
  <ion-item>
    <ion-input type="password" placeholder="Confirm your new password" [(ngModel)]="data.conpassword" name='conpassword' required #conpassword="ngModel" ></ion-input>
  </ion-item>
   <ion-label class="alert alert-danger" color="danger">
 <div *ngIf="conpassword.errors && (conpassword.dirty || conpassword.touched)">
       <div [hidden]="!conpassword.errors.required" >
         Password is required
        </div>
    </div>
   </ion-label>
<button (click)="changePwd(changepwdForm)" class="button-block border_radius" ion-button style="background:rgba(155,155,155,0.8); font-weight:300;"  [disabled]="!changepwdForm.valid">
    SAVE
</button> 

</ion-list>
</div>
</form>
</ion-content>
