page-changepassword {
//     .back-button-icon {
//     color: #fff !important;
// }

.title > .toolbar-title{
  text-transform: uppercase;
  color: #6c6c6c !important;
  letter-spacing: 8px !important;
  font-family: futuraheavy !important;
  font-size: 17px !important;
  font-weight: bold;
  }

.title1 > .toolbar-title{
  text-transform: uppercase;
  color: #6c6c6c !important;
  letter-spacing: 1px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  font-family: futuraheavy;
  }
  
.title1 > .toolbar-title > p {
   font-size: 10px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: none;
  font-family: futuraheavy;
}
.toolbar-ios-primary .toolbar-background-ios{
    background: transparent !important;
    border: none !important;
}
text-input::-moz-placeholder {
  color: #fff !important;
  font-family: futuraheavy;
  font-size: 12px;
}
.text-input::-webkit-input-placeholder {
    color: #fff !important;
    font-family: futuraheavy;
  font-size: 12px;
}

.text-input:-ms-input-placeholder {
    color: #fff !important;
    font-family: futuraheavy;
  font-size: 12px;
}

.text-input::-moz-placeholder {
    color: #fff !important;
    font-family: futuraheavy;
  font-size: 12px;
}

.text-input{
    color: #fff !important;
}
}
