page-editprofile {
    .edit_profile{
        padding: 0;
        float: left;
        width:100%;
    }

    .edit_profile h4{
        font-size: 13px;
        color: #878787;
        font-family: futuraheavy;
        margin-bottom: 32px;
        width: 100%;
        text-align: center;
        letter-spacing: 0.76px;
    }
    .title > .toolbar-title{
        text-transform: uppercase;
        color: #6c6c6c !important;
        letter-spacing: 8px !important;
        font-family: futuraheavy !important;
        font-size: 17px !important;
        font-weight: bold;
        }
    
    .title1 > .toolbar-title{
        text-transform: uppercase;
        color: #6c6c6c !important;
        letter-spacing: 1px !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        font-family: futuraheavy;
        }
    
       
        
    .title1 > .toolbar-title > p {
         font-size: 10px;
        letter-spacing: 1px;
        margin: 0;
        text-transform: none;
        font-family: futuraheavy;
    }

.edit_profile .item:first-child{
    border: none;
}

.edit_profile .item {
    padding: 0;
}
.edit_profile .item .text-input {
    margin-bottom: 14px;
    margin-top: 0;
    font-size: 12px;
    color: #878787;
    font-family: futuraheavy;
     letter-spacing: 0.5px;
}
.edit_profile .item .label {
    color: #878787;
    font-size: 12px;
    font-family: futuramedium;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.5px;
}
.edit_profile .item-input ion-input, .item-input ion-textarea {
}
.datetime-text,.select-text {
    color: #878787;
    font-size: 12px;
}
.edit_profile .icon {
    color: #878787;
}
.select-text{
    font-family: futuraheavy !important;
}
.datetime-text,.select-text{
    font-family: futuraheavy !important;
}

}
  