<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>112979251493-s4gaoq1s7no9sc68jf7dmbk221g3sncn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112979251493-s4gaoq1s7no9sc68jf7dmbk221g3sncn</string>
	<key>API_KEY</key>
	<string>AIzaSyCAStm7vMdZzdhOedbBbsV8A7bR87x8S-I</string>
	<key>GCM_SENDER_ID</key>
	<string>112979251493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fwrk.fash1</string>
	<key>PROJECT_ID</key>
	<string>fash-1586d</string>
	<key>STORAGE_BUCKET</key>
	<string>fash-1586d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:112979251493:ios:bd5e18fad49b2cd3</string>
	<key>DATABASE_URL</key>
	<string>https://fash-1586d.firebaseio.com</string>
</dict>
</plist>