page-groupchat {
.back-button{
    display: none !important;
}

 .toolbar-title{
  text-transform: uppercase;
  color: #878787 !important;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: futuraheavy !important;
}


.toolbar-title > p {
    font-size: 10px;
    letter-spacing: 1px;
    color: #878787 !important;
    margin: 0;
    text-transform: none;
    font-family: futuraheavy !important;
}


.left > .chat-users {
    background: rgba(216, 216, 216, 0.2);
    padding: 10px 60px 10px 10px;
    float: left;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(151,151,151,0.3);
    max-width: 90%;
}
.right > .chat-users {
    background: rgba(250, 228, 222, 0.4);
    padding: 10px 60px 10px 10px;
    float: right;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(151,151,151,0.3);
    max-width: 90%;
}
.chatlist {
    padding: 5px 15px;
}
.count_no {
    float: left;
    margin-right: 3px;
    font-family: futuraheavy;
    color: #878787;
    font-size: 12px;
}
// .liked.icon {
//     color:rgba(74,144,226,0.7);
// }
// .disliked.icon {
//     color:rgba(139,87,42,0.6);
// }
.chatusername{
    font-family: futuraheavy;
    color: #50e3c2;
    font-size: 12px;
}
.boxchat {
    width: 100%;
    float: left;
    margin: 5px 0;
}

.chat-users p {
    margin: 0;
    width: 100%;
    font-family: futuraheavy;
    color: #4a4a4a;
    font-size: 12px;
}

span.time {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 8px;
    font-family: futuraheavy;
    color:rgba(155,155,155,0.6);
}



.footer_bg {
    background: #ede9e9;
    border-top: 1px solid #979797;
    padding: 9px;
}

.input_send textarea {
    margin: 0;
    background: #fff;
    height: 27px;
        border: 1px solid #979797;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    font-family: futuraheavy;
}

.product_carouter{
    width: 100%;
    float: left;
    padding: 15px;
}
.product_car {
    width: 43%;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    margin: 0 9px 0 0;
    padding: 0;
}
.imagepro_inn {
    position: relative;
    overflow: hidden;
    height: 136px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.likecomm {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: futuraheavy;
    font-size: 12px;
}
.liken {
    float: left;
    width: auto;
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #fff;
    z-index: 999;
    font-family: futuraheavy;
}
.disslike {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 999;
    color: #fff;
    font-family: futuraheavy;
}

.imagepro_inn img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.overly {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+47,000000+100&0+38,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 38%, rgba(0,0,0,0.09) 47%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 38%,rgba(0,0,0,0.09) 47%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 38%,rgba(0,0,0,0.09) 47%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.likecomm .icon {
    font-size: 19px;
}
// .liked.icon {
//     color:rgba(74,144,226,0.7);
// }
// .disliked.icon {
//     color:rgba(139,87,42,0.6);
// }
.chat_protitle{
    background: rgba(155, 155, 155, 0.1);
    font-family: futuraheavy;
    color: #9b9b9b;
    font-size: 12px;
    padding: 6px 15px;
    text-transform: capitalize;
}

.chtpro_title {
    font-family: futuraheavy !important;
    color: #878787;
    font-size: 10px;
    letter-spacing: 0.83px;
    margin-top: 4px;
}

.protitle_n{
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    font-family: futuraheavy !important;
}

ion-scroll {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 190px;
    white-space: nowrap;
    border-top: 1px solid rgba(151,151,151,0.2);
    border-bottom: 1px solid rgba(151,151,151,0.2);
    background: #fff;
}

.icon_send {
    width: 27px;
    height: 27px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    text-align: center;
    background: rgba(250,228,222,0.7);
    border: 1px solid #979797;
    border-radius: 50%;
    padding: 0px 2px 0 0px;
    color: #6c6c6c;
}

.input_send {
    position: relative;
    padding-right: 32px;
}

.icon_send .icon {
    transform: rotate(42deg);
}

.input_send textarea {
    width: 100%;
}
.scrollcard .scroll-content{
    margin-top: 282px !important;
}
}


