page-returns {
    .setting{
        padding:0;
        float: left;
        width:100%;
    }
    .toolbar-title{
  text-transform: uppercase;
  color: #878787 !important;
  letter-spacing: 2px;
  font-weight: 600 !important;
  font-size: 17px;
}
.title1 .toolbar-title{
    text-transform: uppercase;
    color: #878787 !important;
    letter-spacing: 1px !important;
    font-size: 12px;
    font-family: futuraheavy !important;
  }

.toolbar-title > p {
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: none;
}

.setting h4 {
    color: #878787;
    font-size: 13px;
    margin: 7px 0;
    text-align: center;
}


.setting .item ion-item {
    padding: 0;
}
.setting .item {
    color: #878787;
    font-size: 14px;
    padding: 0;
}
.setting .item-inner {
    padding: 0;
}
.setting .item:first-child {
    border: none;
}
.carttitle{
    text-align:center;
    color: #878787;
    width: 100%;
    float: left;
    font-size: 13px;
    font-family: futuraheavy;
    text-transform: uppercase;
    letter-spacing: 0.76px;
}

.main_txt p{
    color: #878787;
    font-size: 13px;
    font-family: futuraheavy;
    letter-spacing: 0.76px;
}
}
  