page-sportyfy {
    .sporty_sec {
    margin-top: 3vh;
    text-align: center;
}
.sporty_sec h3 {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.btn_center {
    padding: 5vh 0;
}
.sporty_sec h3 {
  color: #fff;
  font-size: 12px;
  letter-spacing: 3px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
  
}
